!/tmp
/tmp/*
/.vscode
!/.vscode/*
/.ipynb_checkpoints
!/.ipynb_checkpoints/*
submit.bash
__pycache__/*
!__pycache__
*__pycache__*
*.csv
*.tar*
*.zip*
*.M
pytorch_ssim/*
*.pyc
fastai
KITTI
experiment/*
